@tailwind base;
@tailwind components;
@tailwind utilities;

.iconsCard {
  .btnDiv {
    display: none;
    opacity: 0;
  }

  &:hover .btnDiv {
    display: block;
    animation: card 0.5s ease-in-out forwards;
  }
}

@keyframes card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
